@import url(https://fonts.googleapis.com/css?family=Lato|Kurale|Oswald);

.button {
  display: none;
  margin-top: 20px;
}
.btn {
  background-color: #2C5225;
  color: #DBC693;
}
.btn:hover {
  background-color: #32612A;
  color: white;
}
.jumbotron {
  background: linear-gradient(-9deg, #D9CAA9, transparent),
              url(../img/botanical-radish.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  height: 50%;
  border-bottom: 18px solid #2C5225;
}
.jumbotron h1 {
  color: #630947;
  font-family: 'Kurale', serif;
  font-weight: 900;
  padding-top: 100px;
  font-size: 7em;
}
.container {
  margin-left: 10%;
}
body {
  margin-bottom: 20%;
  background-color: #CCC1A7;
  background: linear-gradient(-15deg, #DBC693, transparent);
}
.body-content {
  padding-top: 30px;
  padding-right: 60px;
  font-family: 'Lato', sans-serif; 
  color: #524C11;
  font-size: 1.5em;
}
#plant-index {
  font-family: 'Kurale', serif;
  float: left;
  border: solid 3px #630947;
  border-radius: 25px;
  margin: 5% 20% 0px 30%;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}
#plant-index h2 {
  font-family: 'Kurale', serif;
  list-style-type: none;
  font-size: 2em;
  padding-left: 40px;
  font-weight: 900;
  color: #310C57
}
#plant-index ul {
  list-style-type: none;
  font-size: 2em;
  color: #524C11
}
#plant-index li:hover {
  text-decoration: underline;
  color: #630947;
  cursor: help;
}
#plant-modal {
  margin: 20% 10% 20% 30%
}
.modal-title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2em;
  color: #630947;
  padding: 8px;
}
.modal-body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.8em;
  color: #630947;
  background: linear-gradient(-5deg, #fff, transparent),
              url(../img/root.jpg) no-repeat;
  padding: 50px;
}
.modal-admin {
  width: 80%;
}
#companion-plant {
  padding-left: 10%;
  padding-top: 5%
}
#companion-plant p {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 1em;
}
select.custom {
  padding-right: 20px;
  width: 200px;
  background-position: center;
  background-color: #F2EAD8;
  font-family: 'Lato', sans-serif;
  color: #036E6C;
  margin-left: 30px;
  }
  #dropdown2 {
    display: none;
  }
  #dropdown3 {
    display: none;
  }
  #dropdown4 {
    display: none;
  }
  #dropdown5 {
    display: none;
  }
  #dropdown6 {
    display: none;
  }
.seedling-one {
  min-height: 220px;
  max-width: 220px;
  background-color: #402603;
  background-blend-mode: color-dodge;
  background-image: url(../img/plant.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border-top: solid 12px #2C5225;
  border-left: solid 12px #2C5225;
}
.seedling-two {
  min-height: 220px;
  max-width: 220px;
  background-color: #402603;
  background-blend-mode: color-dodge;
  background-image: url(../img/plant.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border-top: solid 12px #2C5225;
}
.seedling-three {
  min-height: 220px;
  max-width: 220px;
  background-color: #402603;
  background-blend-mode: color-dodge;
  background-image: url(../img/plant.jpg);
  background-position: center;
  border-top: solid 12px #2C5225;
  border-right: solid 12px #2C5225;
}
.seedling-four {
  min-height: 220px;
  max-width: 220px;
  background-color: #402603;
  background-blend-mode: color-dodge;
  background-image: url(../img/plant.jpg);
  background-position: center;
  border-bottom: solid 12px #2C5225;
  border-left: solid 12px #2C5225;
}
.seedling-five {
  min-height: 220px;
  max-width: 220px;
  background-color: #402603;
  background-blend-mode: color-dodge;
  background-image: url(../img/plant.jpg);
  background-position: center;
  border-bottom: solid 12px #2C5225;
}
.seedling-six {
  min-height: 220px;
  max-width: 220px;
  background-color: #402603;
  background-blend-mode: color-dodge;
  background-image: url(../img/plant.jpg);
  background-position: center;
  border-bottom: solid 12px #2C5225;
  border-right: solid 12px #2C5225;
}
